html,body {
  background: #051005;
  color: #c5cfc5;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #74d974;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.wrapper {
  width: 400px;
  margin: 0 auto;

}

.canvasScene {
  position: relative;

  .zoomControls {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0em;
    div {
      background: rgba(0,0,0,0.4);
      line-height: 0.6em;
      padding: 0.5em;
      cursor: pointer;
      margin: 0.5em;
      &:first-child {
      }
    }
  }
  &:hover {
    .zoomControls {
      opacity: 1;
    }
  };
}

