@import "../../node_modules/normalize.css/normalize.css";

html,body {
  background: #051005;
  color: #c5cfc5;
  font-family: 'Roboto Mono', sans-serif;
}

a {
  color: #74d974;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.wrapper {
  width: 400px;
  margin: 0 auto;

}
h1,h2,h3,h4,h5,h6 {
  margin: 0.4em 0;
}
header {
  h2 {
    font-size: 12px;
    font-weight: 300;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  &:hover h2 {
    opacity: 1;
  }
  margin-bottom: 1em;
}
.canvasScene {
  position: relative;

  .zoomControls {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0em;
    div {
      background: rgba(0,0,0,0.4);
      line-height: 0.6em;
      padding: 0.5em;
      cursor: pointer;
      margin: 0.5em;
      &:first-child {
      }
    }
  }
  &:hover {
    .zoomControls {
      opacity: 1;
    }
  };
}

